/* Featured Elements Utitlities */
.featuredElemAfter{
  position: relative !important;
  z-index: 2!important;
}
.lineAfterMobile {
  position: relative !important;
  z-index: auto!important;
}
.lineAfterMobile::after {
  content: "";
  height: 70%;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  left: -25%;
  top: 50%;
  transform: translateY(-50%);
  background: hsl(180, 66%, 49%);
}
@media (min-width: 768px) {
  .lineAfterMobile::after {
    height: 10px;
    width: 70%;
    left: 50%;
    bottom: -25%;
    transform: translate(-50%, -50%);
  }
}