/* Featured Elements Utitlities */
.featuredElemAfter {
  position: relative !important;
  z-index: auto !important;
}
.featuredElemAfter:nth-child(1)::after,
.featuredElemAfter:nth-child(2)::after {
  content: "";
  height: 70px;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: -25%;
  z-index: -1;
  transform: translateY(-50%);
  background: hsl(180, 66%, 49%);
}

@media (min-width: 768px) {
  .featuredElemAfter:nth-child(1)::after,
  .featuredElemAfter:nth-child(2)::after {
    height: 10px;
    width: 70px;
    top: 50%;
    right: 0%;
    left: 100%;
    transform: translateX(-30%);
  }
}
